/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

html, body { height: 100%; }

body {
  background-color: #3f3f3f;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 0.834em;
  text-align: center;
  color: #3f3f3f;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home {
  overflow:auto;
  clear: both;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts .timestamp {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.posts .post_title {
	font-size: 1.25em;
}

.posts .excerpt {
	font-size: 0.9em;
}

.post {
	border-bottom: 1px solid #e3e3e3;
	margin: 3% 0 0 0;
	padding: 4%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 70%;
  margin: 0 auto 5%;
  padding: 2em;
  //line-height: 1.5em;
  background-color: white;
}

.header a {
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1em;
}

.title {
  display: block;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}


.header {
	overflow: visible;
	display: inline;
}
.header .navigation_Container {
	display: block;
	margin-bottom: 1em;
	white-space: nowrap;
	overflow: visible;
	position: relative;
	float: left;
	width: 100%;
}

.header .navigation_link {
	color: #aaa;
	display: inline-block;
	white-space: normal;
	/* total: 20% */
	width: 20%;
	padding: 0;// 2.5%;
	text-align: center;
	font-size: 0.85em;
	overflow: visible;
}
.header .navigation_link a {
	display: block;
}

.header .navigation_link a:visited {
	color: #00a;
}

.header .navigation_link a:hover {
  color: #3e3e3e;
  //border-bottom: 0.3em orange solid;
}



.header  .navigation_link img {
	width: 75%;
	max-width: 80px;
	margin: 0 12.5%;
}

.header .navigation_link span {
	white-space: nowrap;
	position: relative;
	display: block;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

@media (max-width:599px) {
	.site {
		width: 90%;
		padding: 3%;
	}
	
	.header .navigation_link {
	font-size: 60%;
	}
}

@media (max-width: 360px) {
	.site {
		width: 100%;
	}
	
	.site .navigation_Container {
	
	}
}

@media (min-width: 1440px) {
	.site {
		width: 60%;
		padding: 2%;
	}
	.title {
		display: inline;
		float: none;
	}
	
	.header .navigation_Container {
		display: inline;
		vertical-align: middle;
		max-width: 90%;
		width: auto;
		float: none;
		margin-left: 2em;
		margin-bottom: 0;
	}
	
	.header .navigation_link {
		display: inline-block;
		padding: 0 0;
		max-width: none;
		width: auto;
		text-align: left;
	}
	.header .navigation_link img {
		display: inline;
		width: auto;
		height: 3em;
		vertical-align: middle;
		margin: 0;
	}
	.header .navigation_link span {
		padding: 0 0.5em;
		display: inline;
		line-height: 1em;
		font-size: 1.2em;
	}
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post .blog_dataTable {
	border-collapse: collapse;
	text-align: left;
}

.post .blog_dataTable td, .post .blog_dataTable th {
	padding: 0.3em;
	border: 1px solid black;
}

.post .blog_dataTable th {
	text-align: center;
}

.post .read_more {
	//text-align: right;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about_profile_img_container {
  width: 30%;
  height: auto;
  float:left;
  margin-right: 0.5em;
}
.about_profile_img_container img {
  width: 100%;
}

@media (max-width:599px) {
	.about_profile_img_container {
		width: 80%;
		margin: 10%;
	}
}